*{
    margin: 0;
    padding: 0;
}
body{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    font-family: monospace,sans-serif,Arial;
}
.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 50px;
    box-shadow: 5px 5px 10px lightgray;
}
.left-div{
    position: relative;
    padding: 15px 0px;
    background-color: black;
}
.right-div{
    position: relative;
    background-color: white;
}
.profile-img{
    margin: 0px auto;
    height: 230px;
    width: 200px;
    border-radius: 70%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.left-div .profile-section {
    color: white;
}
.profile-section{
    text-align: center;
    padding: 15px;
}
hr{
    width: 300px;
    margin: 10px auto;
    background-color: white;
    border: 3px solid white;
}
.title{
    color: white;
    letter-spacing: 1px;
    margin: 30px;
    font-size: 40px;
}
.educational-info .higher , .secodary{
    margin: 30px;
    color: white;
}

.contract-information{
    position: relative;

}
.contract-information .contract{
    color: white;
    font-size: 20px;
}
.contract-information ul li{
    position : relative;
    list-style: none;
    cursor: pointer;
    margin: 10px 30px;
}
.contract-information ul li .icon{
    font-size: 20px;
    color: skyblue;
    width: 30px;
}
.right-div{
    margin: 40px 30px;
}
.padding-all{
    padding-top: 15px;
}
.career-info ul li{
    margin-left: 15px;
}

.social-buttons {
    display: flex;
    gap: 10px;
}
.social-button img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
}
.social-button img:hover {
    transform: scale(1.1);
}
.padding-all{
    padding-top: 15px;
}
